.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 0.5em;
}

.search-bar > input {
    width: 80vw;
    padding: 0.70em 0;
    border: 1px solid #fff;
    border-radius: 0.7em;
    margin: 1em 1.5em 1.25em 1.5em;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 0.75em;
    box-shadow: var(--box-shadow);
}

.search-bar input:focus {
    outline: none;
}

.search-bar-btn {
    cursor: pointer;
    width: 8.11rem;
    padding: 0.77rem 0;
    border-radius: 54px;
    background-color: var(--purple);
    font-size: 1em;
    font-weight: 500;
    border: 1px;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s;
}

.search-bar-btn:hover {
    /* background-color: var(--lighter-blue); */
    transform: translateY(-3px);
    box-shadow: 2px 4px 3px 3px rgba(0, 0, 0, 0.8);
    background-color: rgba(108, 65, 233, 0.7);
    transition: all .3s ease-in-out;
}

@media only screen and (min-width: 768px) {
    .search-bar > input {
        max-width: 50em;
    }
}