#root {
    --purple: #6c31ec;
    --background-color: #010c3f;
    --poppins: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --work-sans: "Work Sans", sans-serif;
}

body,
html,
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-size: 18px;
}

h1 {
    margin: 0;
    padding: 0.77rem 0;
    background-color: var(--background-color);
    text-align: center;
    font-family: var(--poppins);
    font-size: 1.88rem;
    color: #fff;
}

h1 > .highlight {
    color: var(--purple);
}

h2 {
    font-family: var(--poppins);
    font-size: 1.55rem;
}

.app {
	height: 100%;
	padding: 0 17% 10% 17%;
	background-image: url("images/background_photo_desktop.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: var(--work-sans);
	font-weight: 500;
	color: #fff;
}

.app-body {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

@media only screen and (max-width: 1020px) {
	.app-body {
		align-items: center;
		flex-direction: column;
	}
}