#root {
    --purple: #6d32ec;
    --dark-blue: #010d41;
    --lighter-blue: #021774;
    --poppins: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --work-sans: "Work Sans", sans-serif;
    --box-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
}

html {
    font-size: 18px;
}

h1 {
    width: 100%;
    margin: 0;
    padding: 0.77rem 0;
    background-color: var(--dark-blue);
    text-align: center;
    font-family: var(--poppins);
    font-size: 1.88rem;
    color: #fff;
    box-shadow: var(--box-shadow);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
}

h1 > .highlight {
    color: var(--purple);
}

.app-container {
    width: 100vw;
    background-image: url(' /images/background_photo_desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--work-sans);
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .search-results-container {
        padding-left: 2em;
    }

    .playlist-container {
        padding-right: 2em;
    }

    .app {
        height: 100vh;
    }
}